
*{margin: 0; padding: 0;}


body{
    font-family: "Bellota";
    font-weight: 500;
    font-style: normal;
    background: #F8F0E3;
    background-image: url(../images/abelhas.png);
    background-blend-mode: color-burn;
    color: black;
    max-width: auto;
    height: 400px;
}


.menuNav{
    display: flex;
    justify-content: end;
    margin-top: -224px;
    margin-right: 60px;
}

.fundoMenu img {
    max-width: 35%;
    display: flex;
    margin-top: -240px;
    margin-left: 990px;
}

.menu{
list-style:none;
/* border:2px solid #c0c0c0; */
float:left;
border-radius: 8px;
}

.menu li{
    position:relative;
    float:left;
    /* border-right:1px solid #c0c0c0; */
}

.menu li a{
    color:black;
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    font-size: 20px;
    font-weight: 900;
}

.menu li a:hover{
background:white;
color:black;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    /* background-color:#a95534; */
    display:none;
    }

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }

.header {
    display: inline;
}

.logotipo {
    justify-content: center;
    padding: 0;
    overflow: hidden;
}

.logotipo img {
    vertical-align: middle;
    max-width: 40%;
    margin-left: 200px;
}

.contato{
    margin-left: 76%;
    font-size: 30px;
    cursor: pointer;
}

.menu ul{
    list-style: none;    
    justify-content: space-between;
}

.content{
    margin-top: 235px;
    font-size: 30px;
    text-align: justify;
    max-width: 90%;
    margin-left: 80px;
}

.content span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

/* .imgContent img{
    width: 80%;
}

.imgContent img:hover {
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
     transform:scale(1.25);
}

.imgContent span {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    color: black;
} */

.confeiteira{
    justify-content: right;
    display: flex;
    margin-bottom: 50px;
}

.confeiteira p {
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
    width: 50%;
    font-size: 20px;
    color: black;
    margin-top: 235px;
}

.confeiteira img {
    max-width: 40%;
    margin-top: 210px;
    margin-right: 15px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #a95534;
}

footer{
    position: fixed;   
    margin: 0px 0px 0px calc((100% - 600px)* 0.6); 
    text-align: center;
    font-size: 20px;
    top: 97%;
    font-weight: 800;
}

.menuNavConfe{
    display: flex;
    justify-content: end;
    margin-top: -240px;
    margin-right: 60px;
    font-size: 15px;
}

.menuConfe{
list-style:none;
/* border:2px solid #c0c0c0; */
float:left;
border-radius: 8px;
margin-right: 50px;
}

.menuConfe li{
    position:relative;
    float:left;
    /* border-right:1px solid #c0c0c0; */
}

.menuConfe li a{
    color:black;
    text-decoration:none; 
    padding:5px 10px; 
    display:block;
    font-size: 20px;
    font-weight: 900;
}

.menuConfe li a:hover{
background:white;
color:black;
}

.menuConfe li  ul{
    position:absolute;
    top:25px;
    left:0;
    /* background-color:#a95534; */
    display:none;
    }

.menuConfe li:hover ul, .menu li.over ul{display:block;}

.menuConfe li ul li{
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
    }