/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bellota", sans-serif;
    background: #F8F0E3;
    background-image: url(../images/abelhas.png);
    background-blend-mode: color-burn;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.logotipo img {
    max-width: 60%;
    margin-top: -20px;
}

.menuNav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 40px;
    flex-wrap: wrap;
    z-index: 10;
}

.fundoMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    justify-content: right;
    display: flex;
    z-index: 5;
}

.fundoMenu img {
    max-width: 30%;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 900;
}

.menu li a:hover {
    background: white;
    color: black;
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
}

.menu li:hover ul {
    display: block;
}

.content {
    flex: 1;
    margin: 20px;
    font-size: 30px;
    text-align: justify;
}

.imagesIni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.imagesIni img {
    width: calc(20% - 10px);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #a95534;
    transition: transform 0.2s;
}

.imagesIni img:hover {
    transform: scale(1.05);
}

.menuNav.active {
    display: flex; /* Mostrar o menu quando ativo */
    flex-direction: column; /* Empilhar os itens do menu */
}


footer {
    background: #a95534;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

/* Media Queries */

@media (max-width: 768px) {
    .logotipo img {
        max-width: 100%;
        height: auto;
    }

    
    .menuNav {
        display: none; /* O menu permanece oculto em dispositivos móveis */
        /* Estilos para o menu já definidos anteriormente */
    }

    .menuNav.active {
        display: flex; /* Mostrar o menu quando ativo */
        flex-direction: column; /* Empilhar os itens do menu */
    }

    .menuToggle {
        display: flex; /* Exibir o botão de menu hambúrguer */
        cursor: pointer; /* Mudar o cursor para indicar que é clicável */
    }

    .menuToggle {
        flex-direction: column;
        justify-content: space-around;
        width: 30px; /* Ajuste conforme necessário */
        height: 25px; /* Ajuste conforme necessário */
        margin-right: 20px; /* Ajuste conforme necessário */
    }

    .bar {
        height: 3px; /* Espessura das barras */
        width: 100%; /* Largura das barras */
        background-color: black; /* Cor das barras */
        transition: 0.3s; /* Transição suave */
    }

    .menu {
        flex-direction: column; /* Menu empilhado */
        width: 100%; /* Para ocupar toda a largura */
    }

    .menu li {
        width: 100%; /* Itens do menu ocupam a largura total */
        text-align: right; /* Alinhar texto à direita */
        padding: 5px;
        right: 30px;
        top: 80px;
    }
    
    .menu li ul {
        top: -80px;
    }

    .fundoMenu {
        display: none; /* Ocultar fundo do menu em dispositivos móveis */
    }

    .imagesIni img {
        width: calc(50% - 20px); /* Duas imagens por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .imagesIni img {
        width: calc(100% - 20px); /* Uma imagem por linha em telas muito pequenas */
    }

    .content {
        font-size: 20px; /* Reduzir o tamanho da fonte em telas pequenas */
    }
}
