/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bellota", sans-serif;
    background: #F8F0E3;
    background-image: url(../images/fundoabelhas.png);
    background-blend-mode: color-burn;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.header {
    flex-direction: column; /* Mudar para coluna para empilhar logo e menu toggle */
    align-items: center; /* Centraliza os itens */
}

.logotipo {
    cursor: pointer;
}

.logotipo a{
    cursor: pointer;
}

.logotipo img {
    max-width: 60%;
    margin-top: -20px;
    cursor: pointer;    
}

.menuNav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 40px;
    flex-wrap: wrap;
    z-index: 10;
}

.fundoMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    justify-content: right;
    display: flex;
    z-index: 5;
}

.fundoMenu img {
    max-width: 30%;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 900;
}

.menu li a:hover {
    background: white;
    color: black;
}

.menu li ul {
    position: absolute;
    top: 30px;
    left: 0;
    display: none;
    list-style: none;
}

.menu li:hover ul {
    display: block;
}

.content {
    flex: 1;
    margin: 20px;
    font-size: 30px;
    text-align: justify;
}

.contentC {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentC section {
    
    display: flex; /* Permite alinhar o texto e a imagem */
    align-items: flex-start; /* Alinha o texto ao topo da imagem */
}

.contentC p {
    flex: 1; /* O texto ocupa o espaço restante */
    margin-right: 20px; /* Espaço entre o texto e a imagem */
    text-align: justify; /* Justifica o texto */
    font-size: 1.2em; /* Tamanho da fonte ajustado */
    line-height: 1.6; /* Aumenta a altura da linha para melhor legibilidade */
    font-weight: bolder;
}

.imagesIni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.imagesIni img {
    width: calc(20% - 10px);
    margin: 10px;
    border-radius: 15px;
    box-shadow: 5px 10px 5px #a95534;
    transition: transform 0.2s;
}

.imagesIni img:hover {
    transform: scale(1.05);
}

.confeiteira-img {
    max-width: 40%; /* Aumenta a proporção da imagem */
    height: auto;
    align-self: flex-end; /* Alinha a imagem à direita do texto */
    border-radius: 15px;
}


.menuNav.active {
    display: flex; /* Mostrar o menu quando ativo */
    flex-direction: column; /* Empilhar os itens do menu */
}

.menuToggle {
    display: none; /* Oculta o botão por padrão */
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Ajuste conforme necessário */
    height: 25px; /* Ajuste conforme necessário */
    cursor: pointer; /* Mudar o cursor para indicar que é clicável */
    margin-top: 10px; /* Espaço entre o logo e o toggle */
}

footer {
    background-color: #a95534; /* Mude para a cor do seu logo */
    padding: 10px 20px;
    text-align: center;
}

.footerContato {
    display: inline;
    float: right;
    
}

/* Media Queries */

@media (max-width: 768px) {
    .logotipo img {
        max-width: 100%;
        height: auto;
    }
    
    .menuNav {
        display: none; /* O menu permanece oculto em dispositivos móveis */
        /* Estilos para o menu já definidos anteriormente */
    }

    .menuNav.active {
        display: flex; /* Mostrar o menu quando ativo */
        flex-direction: column; /* Empilhar os itens do menu */
        align-items: center;
    }

    .menuToggle {
        display: flex; /* Exibir o botão de menu hambúrguer */
        cursor: pointer; /* Mudar o cursor para indicar que é clicável */
    }

    #fToggle{
        width: 100%;
        background-color: #a95534;
        justify-content: center;
        display: flex;
        height: 40px;
        border-radius: 10px;
    }

    .bar {
        height: 3px; /* Espessura das barras */
        width: 100%; /* Largura das barras */
        background-color: black; /* Cor das barras */
        transition: 0.3s; /* Transição suave */
    }

    .menu {
        flex-direction: column; /* Menu empilhado */
        width: 100%; /* Para ocupar toda a largura */
    }

    .menu li {
        width: 100%; /* Itens do menu ocupam a largura total */
        text-align: left; /* Alinhar texto à direita */
        padding: 10px 70px; /* Adiciona um padding ao item */
        top: 155px;
    }
    
    .menu li ul li {
        top: -45px;
        right: -95px;
        list-style: none;
    }

    .fundoMenu {
       display: none;
    }

    .fundoMenu img {
        max-width: 30%;
    }

    .imagesIni img {
        width: calc(50% - 20px); /* Duas imagens por linha em telas menores */
    }

    .confeiteira-img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    .contentC section {        
        display: block; /* Permite alinhar o texto e a imagem */
    }
}

@media (max-width: 480px) {
    .imagesIni img {
        width: calc(100% - 20px); /* Uma imagem por linha em telas muito pequenas */
    }

    .content {
        font-size: 20px; /* Reduzir o tamanho da fonte em telas pequenas */
    }
}
